@charset "UTF-8";
/* CSS Document */

a{text-decoration:none;}

.mobile-show {
    display: none;
}

.alert-warning {
    position: fixed;
    left: 50%;
    top: 30%;
    margin-left: -300px;
    width: 600px;
    height: 270px;
    background: #fff;
    z-index: 1001;
    display: none;
}

.alert-warning .alert-wzsm {
    width: 480px;
    height: 100px;
    margin: 15px auto 0;
    line-height: 35px;
    font-size: 24px;
    color: #000;
    text-align: center;
    font-family: "microsoft=" " yahei';=" " padding-bottom:=" " 15px;border-bottom:=" " 1px=" " solid=" " #d4d4d4;'="

}
	/*智能搜索*/
.voiceBtn{position: absolute;width: 12px;height: 20px;background: url(../images/voice.png) no-repeat;background-size: 100% 100%;left: 80%;cursor: pointer;top: 50%;margin-top: -10px;}
.voice-draw{display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, .3);z-index:10000;}
.voice-div{padding: 20px;box-sizing: border-box;width: 680px;height: 389px;background: #FFFFFF;border-radius: 10px;position: fixed;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
.voice-head{text-align: right;margin-bottom: 30px;}
.voice-head .voice-close{display: inline-block;width: 20px;height: 20px;background: url(../images/voice-close.png) no-repeat;background-size: 100% 100%;cursor: pointer;}
.voice-con{height: 100px;font-size: 24px;line-height: 32px;text-align: center;}
.voice-tips-time{color: #CCCCCC;}
.identify-txt{max-height: 160px;overflow-y: scroll;}
.identify-txt::-webkit-scrollbar{display: none;}
.voice-button{text-align: center;}
.voice-button-png{display: inline-block;width: 100px;height: 100px;background: url(../images/voice-button-png.png) no-repeat;background-size: 100% 100%;cursor: pointer;}
.voice-button-gif{display: inline-block;width: 100px;height: 100px;background: url(../images/voice-button-gif.gif) no-repeat;background-size: 100% 100%;cursor: pointer;}
.noIdentify-txt, .voice-button-png{display: none;}
.inp{display: flex;align-items: center;position: relative;width: fit-content;}
.voiceBtn{position: absolute;width: 12px;height: 20px;background: url(../images/voice.png) no-repeat;background-size: 100% 100%;left: 80%;cursor: pointer;top: 50%;margin-top: -10px;}
@media screen and (max-width: 750px) {
    .pc-hide {
        display: none;
    }

    .mobile-show {
        display: block;
        ;
    }

    .logo-box {
        height: 1.3067rem;
        width: 10rem;
        background: linear-gradient(180deg, #BD1A2D 0%, #9A1222 100%);
    }

    .logo-box-main {
        display: flex;
        padding-left: .7467rem;
        padding-top: .2767rem;
    }

    .logo-box-main .img-box {
        display: block;
        width: .7867rem;
        height: .7867rem;
    }

    .logo-box-main a img {
        width: 100%;
        height: auto;
    }

    .logo-out-box {
        padding-left: .1333rem;
        padding-top: .1267rem;
        width: 100%;
        font-size: .16rem;
    }

    .logo-out-box a {
        font-size: .16rem;
        white-space: nowrap;
        color: #fff;
        opacity: .7;
        display: inline;
        margin-right: .1433rem;
    }

    .header-box {
        width: 100%;
        background: #bd1a2d;
        padding-top: 0.8rem;
        padding-bottom: .5000rem;
        box-shadow: inset 0 0 .2333rem 0 #9b0f20;
    }

    .header-box .img-box {
        width: 8.5333rem;
        margin: auto;
        margin-bottom: 0.48rem;
    }

    .header-box .img-box img {
        width: 100%;
    }

    .search-box {
        width: 8.4rem;
        margin: auto;
    }

    .search-box-main {
        position: relative;
    }

    .search-box .search-input {
        width: 100%;
        height: 1.07rem;
        padding: 0;
        border: 0;
        padding-left: .2333rem;
        background: url(../images/input_20200613.png) no-repeat;
        background-size: contain;
    }

    .search-box .search-icon {
        position: absolute;
        margin-left: 237px;
        margin-top: -4px;
    }

    .search-box-main .search-icon {
        position: absolute;
        right: -0.12rem;
        top: 0;
        width: 1.2333rem;
        height: 1.2333rem;
    }

    .search-box-main .search-icon img {
        width: 100%;
        height: 100%;
    }

    .header-box .radio-box {
        margin-top: .2667rem;
        font-size: .4533rem;
        color: #fff;
    }

    .nav-box .nav-maim {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        background: #bd1a2d;
    }

    .nav-box .nav-maim a {
        font-size: 0.43rem;
        color: #fff;
        width: 33%;
        text-align: center;
        height: 1.33rem;
        line-height: 1.33rem;
        box-sizing: border-box;
        border: 1px solid #b31023;
    }

    .nav-box .nav-maim .active {
        background: #B41527;
    }

    .m-footer {
        background: #bd1a2d;
        padding-top: 0.27rem;
        padding-bottom: .24rem;
    }

    .m-footer .footer-logo-box {
        display: block;
        margin: auto;
        width: 1.65rem;
    }

    .m-footer .footer-logo-box img {
        width: 100%;
        height: auto;
    }

    .m-footer .footer-text {
        padding-top: 0.2rem;
        color: #FFFFFF;
        opacity: .6;
    }

    .m-footer .footer-text div {
        height: 0.45rem;
        font-size: 0.32rem;
        line-height: 0.45rem;
        margin-bottom: .13rem;
        text-align: center;
    }
	.alert-dialog {}

    .alert-dialog .alert-delete {
        width: 80%;
    }

    .alert-dialog .alert-delete .close-icon {
        background: url(../images/shanchu_20211213.png) center center no-repeat;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 19px;
        height: 19px;
        cursor: pointer;
    }

    .alert-warning {
        width: 90%;
        height: auto;
        margin-left: 0;
        background: #fff;
        z-index: 1001;
        left: 5%;
        border-radius: .1333rem;
        font-size: .1867rem;
        border: 1px solid #ccc;

    }

    .alert-warning .alert-wzsm {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        margin: .2rem auto 0;
        line-height: .8rem;
        font-size: .5rem;
        color: #000;
        text-align: center;
        font-family: "microsoft=" " yahei';=" " padding-bottom:=" " 15px;border-bottom:=" " 1px=" " solid=" " #d4d4d4;'=";
        padding:0 .2667rem;
        border-bottom: 0;
    }
	.voice-div{padding:2%;width:100%;height: 289px;}.voice-con{height:80px;}.voiceBtn{left:77%;}
}